* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
}

.container {
    padding: 0 3%;
}

button:focus,
input:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background: #ff8c00a1;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff8c00e8;
}

::selection {
    background-color: #ff8c0073;
}

.loader {
    margin: 5rem auto;
    text-align: center;
    transform-origin: 44% 50%;
}

/*
NAVBAR STYLES
*/

.navbar_container {
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #626afa, #4e54c8);
    background: linear-gradient(to right, #626afa, #4e54c8);
}

.logo_links {
    display: flex;
    justify-content: space-between;
}

.home_link {
    text-decoration: none;
}

.logo {
    font-weight: 600;
    font-size: 1.8em;
    color: whitesmoke;
}

.logo_span {
    font-weight: 800;
    font-size: 1.15em;
    color: #ff8c00;
    transition: all 0.2s ease;
    margin: 0 2px 0 4px;
}

.logo:hover .logo_span {
    text-shadow: -3px -3px #ff8c00;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    list-style: none;
}

.link_li {
    margin-right: 20px;
}

.link_href {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.7;
}

.link_href::before {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background-color: whitesmoke;
    margin-bottom: 3px;
    transition: all 0.2s ease;
}

.link_href:hover {
    opacity: 1;
}

.link_href:hover::before {
    width: 30px;
}

.seach_bar {
    position: relative;
    margin-right: 1px;
}

.search_bar_input {
    border: none;
    padding: 10px 68px 10px 20px;
    width: 300px;
    border-radius: 20px;
}

.search_btn {
    border: 2px #4e54c8 solid;
    position: absolute;
    height: 75%;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    padding: 0 18px;
    background-color: #4e54c8;
    color: whitesmoke;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.search_btn:hover {
    background-color: transparent;
    border-color: #ff8c00;
    color: #ff8c00;
}

.search_btn:focus {
    outline: none;
}

/*
MAIN CONTENT STYLES
*/

.cards_container {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: grid;
    grid-gap: 40px;
    grid-template-areas: "total specific" "total_number specific";
    grid-template-columns: 2fr 1fr;
    position: relative;
}

.overview_card {
    grid-area: total;
    background-color: white;
    padding: 34px 46px;
    border-radius: 12px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}

.overview_heading {
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 14px;
    line-height: 1.35em;
    color: rgba(0, 0, 0, 0.8);
}

.overview_heading span {
    color: #4e54c8;
    font-size: inherit;
    font-weight: inherit;
}

.overview_info {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.6em;
    opacity: 0.5;
}

.more_info_btn {
    display: flex;
    border: none;
    transform: translateY(-2px);
    background-color: #4e54c8;
    color: whitesmoke;
    padding: 12px 22px;
    border-radius: 60px;
    cursor: pointer;
}

.btn_text {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
    transform: translateX(6.5px);
    transition: all 0.2s ease;
}

.caret_icon {
    transform: translateY(1px);
    margin-left: 10px;
    font-size: 1.2em;
    opacity: 0;
    transition: all 0.2s ease;
}

.more_info_btn:hover .caret_icon {
    opacity: 1;
}

.more_info_btn:hover .btn_text {
    transform: translateX(0);
}

.overview_img {
    position: absolute;
    bottom: 34px;
    right: 46px;
    width: 255px;
    height: 240px;
    background-image: url(../images/coughing.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.total_cases_card {
    grid-area: total_number;
    background-color: white;
    padding: 32px 46px;
    border-radius: 12px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}

.total_cases_cols {
    display: flex;
    justify-content: space-between;
}

.total_deaths,
.total_recovered,
.total_confirmed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cases_number {
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: 16px;
}

.total_death_number {
    color: #ff8c00;
}

.total_recovered_number {
    color: rgb(41, 167, 41);
}

.total_infected_number {
    color: #4e54c8;
}

.total_deaths_heading,
.total_recovered_heading,
.total_confirmed_heading {
    font-weight: 800;
    font-size: 1.1em;
    text-transform: uppercase;
    opacity: 0.35;
}

.specific_card {
    grid-area: specific;
    background-color: white;
    padding: 34px 46px;
    border-radius: 12px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}

.no_result_img {
    background-image: url(../images/reading_a_book.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 205px;
    height: 170px;
    margin-top: 75px;
}

.no_result_text {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.6em;
    margin-top: 75px;
    opacity: 0.4;
}

.clip_background {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 280px;
    width: 80px;
    background: #4e54c8;
    background: -webkit-linear-gradient(to bottom, #626afa, #4e54c8);
    background: linear-gradient(to bottom, #626afa, #4e54c8);
    clip-path: ellipse(100% 100% at 100% 100%);
    border-radius: 0 0 12px 0;
}

.country_name {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 60px;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
}

.specific_deaths_heading,
.specific_recovered_heading,
.specific_confirmed_heading {
    font-weight: 800;
    font-size: 1.1em;
    text-transform: uppercase;
    opacity: 0.35;
    margin-bottom: 52px;
}

.specific_confirmed_heading {
    margin-bottom: 0;
}

.infected_number,
.recovered_number,
.death_number {
    font-weight: 700;
    font-size: 2.6em;
}

.death_number {
    color: #ff8c00;
}

.recovered_number {
    color: rgb(41, 167, 41);
}

.infected_number {
    color: #4e54c8;
}

/*
SYMPTOMS STYLES
*/

.slider::-webkit-scrollbar {
    height: 10px;
}

.slider::-webkit-scrollbar-track {
    background: whitesmoke;
}

.slider::-webkit-scrollbar-thumb {
    background: #ff8c00a1;
    border-radius: 12px;
}

.slider::-webkit-scrollbar-thumb:hover {
    background: #ff8c00e8;
}

.symptoms_container {
    overflow: hidden;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.symptoms_heading {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 14px;
    color: rgba(0, 0, 0, 0.8);
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 10px 10px 30px 10px;
    margin-bottom: 8px;
}

.item {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 280px;
    height: 230px;
    margin-right: 40px;
    padding: 22px 34px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.symptom_img {
    background-color: RGB(226, 215, 247);
    padding: 12px 14px;
    width: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.symptom_img img{
    width: 90px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.symptom_img_1 img{
    width: 120px;
}

.symptom_img_2 img{
    width: 120px;
}

.symptom_text{
    font-size: 1.8em;
    font-weight: 700;
    opacity: 0.6;
    text-align: right;
}

/*
FOOTER STYLES
*/

.footer_container {
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #626afa, #4e54c8);
    background: linear-gradient(to left, #626afa, #4e54c8);
}

.copyright {
    color: rgba(245, 245, 245, 0.7);
    font-weight: 700;
}

.copyright a {
    color: #ff8c00;
    opacity: 0.8;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    transition: all 0.2s ease;
}

.copyright a:hover {
    opacity: 1;
}

.social-link {
    margin-left: 16px;
}

.social-icon {
    font-size: 1.2em;
    color: whitesmoke;
    transition: all 0.2s ease;
}

.social-icon:hover {
    color: #ff8c00;
}

/*
MEDIA QUERIES
*/

@media (max-width: 1082px) {
    .cards_container {
        grid-template-columns: 2fr 1.1fr;
    }

    .overview_info {
        font-size: 1em;
    }

    .overview_img {
        width: 205px;
        height: 195px;
    }

    .no_result_img {
        width: 185px;
        height: 150px;
        margin-top: 40px;
    }

    .clip_background {
        height: 220px;
        width: 60px;
    }
}

@media (max-width: 996px) {
    .navbar_container {
        padding-top: 2%;
        padding-bottom: 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo_links {
        margin-bottom: 24px;
    }

    .link_li:last-child {
        margin-right: 0;
    }

    .seach_bar {
        margin-bottom: 8px;
    }

    .search_bar_input {
        width: 450px;
    }

    .cards_container {
        padding-top: 3%;
        padding-bottom: 3%;
        grid-template-areas: "total_number specific" "total total";
        grid-template-columns: 1.2fr 2fr;
        grid-template-rows: 1fr 0.85fr;
    }

    .total_cases_cols {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .country_name {
        margin-bottom: 20px;
    }

    .no_result_img {
        width: 185px;
        height: 150px;
        margin-top: 0;
    }

    .no_result_text {
        margin-top: 30px;
    }

    .clip_background {
        height: 200px;
        width: 70px;
    }

    .specific_deaths_heading,
    .specific_recovered_heading {
        margin-bottom: 30px;
    }

    .specific_confirmed_heading {
        margin-bottom: 0;
    }

    .cases_number {
        margin-bottom: 12px;
    }

    .footer_container {
        padding-top: 3%;
        padding-bottom: 3%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .copyright {
        margin-top: 14px;
    }

    .social-link:first-child {
        margin-left: 0;
    }
}

@media (max-width: 606px) {
    .navbar_container {
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .logo_links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav_links {
        margin-top: 12px;
        margin-left: 0;
    }

    .search_bar_input {
        width: 300px;
    }

    .cards_container {
        padding: 5% 6%;
        grid-template-areas: "specific" "total_number" "total";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1.5fr;
        grid-gap: 30px;
    }

    .overview_card,
    .total_cases_card,
    .specific_card {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .country_name {
        margin-bottom: 30px;
    }

    .no_result_img {
        width: 165px;
        height: 140px;
    }

    .no_result_text {
        margin-top: 35px;
    }

    .clip_background {
        height: 180px;
        width: 60px;
    }

    .overview_img {
        position: static;
    }

    .more_info_btn {
        position: absolute;
        bottom: 40px;
        margin-top: 20px;
    }

    .symptoms_container{
        padding: 3.5% 6% 5% 6%;
    }

    .item{
        width: 250px;
        height: 235px;
    }

    .symptom_img{
        width: 80%;
    }

    .symptoms_heading{
        margin-bottom: 16px;
        margin-left: 0;
        text-align: center;
    }

    .footer_container {
        padding-top: 8%;
        padding-bottom: 8%;
    }
}

@media (max-width: 400px) {
    .cards_container {
        grid-template-rows: 1fr 1fr 1.6fr;
    }

    .overview_heading {
        margin-bottom: 24px;
    }

    .overview_info {
        margin-bottom: 35px;
    }
}
