* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

body {
    background-color: whitesmoke;
}

.container {
    padding: 0 3%;
}

button:focus,
input:focus {
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

.loader {
    margin: 5rem auto;
    text-align: center;
    transform-origin: 44% 50%;
}

/*
NAVBAR STYLES
*/

.navbar_container {
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4e54c8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to left, #8f94fb, #4e54c8);
}

.logo_links {
    display: flex;
    justify-content: space-between;
}

.home_link {
    text-decoration: none;
}

.logo {
    font-weight: 600;
    font-size: 1.8em;
    color: whitesmoke;
}

.logo_span {
    font-weight: 800;
    font-size: 1.15em;
    color: #ff8c00;
    transition: all 0.2s ease;
    margin: 0 2px 0 4px;
}

.logo:hover .logo_span{
    text-shadow: -3px -3px  #ff8c00;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    list-style: none;
}

.link_li {
    margin-right: 20px;
}

.link_href {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.7;
}

.link_href::before {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background-color: whitesmoke;
    margin-bottom: 3px;
    transition: all 0.2s ease;
}

.link_href:hover {
    opacity: 1;
}

.link_href:hover::before {
    width: 30px;
}

.seach_bar {
    position: relative;
    margin-right: 1px;
}

.search_bar_input {
    border: none;
    padding: 10px 68px 10px 20px;
    width: 300px;
    border-radius: 20px;
}

.search_btn {
    border: 2px #4e54c8 solid;
    position: absolute;
    height: 75%;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    padding: 0 18px;
    background-color: #4e54c8;
    color: whitesmoke;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.search_btn:hover {
    /* box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3); */
    background-color: transparent;
    border-color: #ff8c00;
    color: #ff8c00;
}

.search_btn:focus {
    outline: none;
}

/*
MAIN CONTENT STYLES
*/

.cards_container {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: grid;
    grid-gap: 40px;
    grid-template-areas: "total specific" "total_number specific";
    grid-template-columns: 2fr 1fr;
    position: relative;
}

.overview_card {
    grid-area: total;
    background-color: white;
    padding: 34px 46px;
    border-radius: 12px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}

.overview_heading {
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 14px;
    line-height: 1.35em;
    color: rgba(0, 0, 0, 0.8);
}

.overview_heading span {
    color: #4e54c8;
    font-size: inherit;
    font-weight: inherit;
}

.overview_info {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.6em;
    opacity: 0.5;
}

.more_info_btn {
    display: flex;
    border: none;
    transform: translateY(-2px);
    background-color: #4e54c8;
    color: whitesmoke;
    padding: 12px 22px;
    border-radius: 60px;
    cursor: pointer;
}

.btn_text {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
    transform: translateX(6.5px);
    transition: all 0.2s ease;
}

.caret_icon {
    transform: translateY(1px);
    margin-left: 10px;
    font-size: 1.2em;
    opacity: 0;
    transition: all 0.2s ease;
}

.more_info_btn:hover .caret_icon {
    opacity: 1;
}

.more_info_btn:hover .btn_text {
    transform: translateX(0);
}

.overview_img {
    position: absolute;
    bottom: 34px;
    right: 46px;
    width: 255px;
    height: 240px;
    background-image: url(../images/coughing.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.total_cases_card {
    grid-area: total_number;
    background-color: white;
    padding: 32px 46px;
    border-radius: 12px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}

.total_cases_cols {
    display: flex;
    justify-content: space-between;
}

.total_deaths,
.total_recovered,
.total_confirmed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cases_number {
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 16px;
}

.total_death_number {
    color: #ff8c00;
}

.total_recovered_number {
    color: rgb(41, 167, 41);
}

.total_infected_number {
    color: #4e54c8;
}

.total_deaths_heading,
.total_recovered_heading,
.total_confirmed_heading {
    font-weight: 800;
    font-size: 1.1em;
    text-transform: uppercase;
    opacity: 0.35;
}

.specific_card {
    grid-area: specific;
    background-color: white;
    padding: 34px 46px;
    border-radius: 12px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}

.no_result_img{
    background-image: url(../images/reading_a_book.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 205px;
    height: 170px;
    margin-top: 75px;
}

.no_result_text{
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.6em;
    margin-top: 75px;
    opacity: 0.4;
}

.clip_background {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 280px;
    width: 80px;
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    clip-path: ellipse(100% 100% at 100% 100%);
    border-radius: 0 0 12px 0;
}

.country_name {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 46px;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
}

.specific_deaths_heading,
.specific_recovered_heading,
.specific_confirmed_heading {
    font-weight: 800;
    font-size: 1.1em;
    text-transform: uppercase;
    opacity: 0.35;
    margin-bottom: 52px;
}

.infected_number,
.recovered_number,
.death_number {
    font-weight: 700;
    font-size: 2.6em;
}

.death_number {
    color: #ff8c00;
}

.recovered_number {
    color: rgb(41, 167, 41);
}

.infected_number {
    color: #4e54c8;
}

/*
FOOTER STYLES
*/

.footer_container{
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4e54c8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to left, #8f94fb, #4e54c8);
}

.copyright{
    color: rgba(245, 245, 245, 0.7);
    font-weight: 500;
}

.copyright a{
    color: #ff8c00;
    opacity: 0.7;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    transition: all 0.2s ease;
}

.copyright a:hover{
    opacity: 1;
}

.social-link{
    margin-left: 12px;
}

.social-icon{
    font-size: 1.2em;
    color: whitesmoke;
    transition: all 0.2s ease;
}

.social-icon:hover{
    color: #ff8c00;
}
